@model GreenThumb.Models.ProfileList

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h4>ProfileList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GardenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GardenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
